  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="https://wistia.com">Where we uploaded our vids!</a></li>
  <li><a href="http://materializecss.com">Where we learnt many of our skills!</a></li>
  <li class="divider"></li>
  <li><a href="http://en.savefrom.net">Where we downloaded vids!</a></li>
</ul>
<nav>
  <div class="nav-wrapper pink">
    <a href="#!" class=><img src = "https://s-media-cache-ak0.pinimg.com/564x/05/c2/85/05c2851b144cae601b46a9115901d5fa.jpg"  style="width: 85px; height: 64px"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="http://htmlcolorcodes.com">The color codes</a></li>
      <li><a href="hhttps://gorails.com">Where we downloaded Ruby on Rails</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Websites that helped us!<i class="material-icons right"></i></a></li>
    </ul>
  </div>
</nav>





  <p id="notice"><%= notice %></p>
<center>
<img src="https://www.mylabdfw.com/images/FINAL%20MyLab%20Logo%20His.png" style="width: 400px; height: 210px">
</center>
<table>
  <thead>
    <tr>
      <th>Wistiaid</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.wistiaid %></td>
         <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>





<div class="row">

      <div class="col s4" style="text-align:center;">
        <i class="material-icons large blue-text text-darken-4">info_outline</i>
        <p style="color: darkblue">Entering this course will allow children to improve thier coding skills in many different languages of code, in this course we learnt the language of Ruby in the framework of rails. We also utilized our knowledge about html and CSS to help create the web app this allows them tobe free with thier coding!/>
      </div>
      <div class="col s4" style="text-align:center;">
         <i class="material-icons large blue-text text-darken-4">subject</i>
        <p style="color: darkblue"> Through the use of coding, the student will have a completely new view on the world wide web and in the future might become one of the most successful people in the world through the use of coding.
      </div>
      <div class="col s4" style="text-align:center;">
        <i class="material-icons large blue-text text-darken-4">perm_identity</i>
        <p style="color: darkblue"> Many new careers will be available for those who specialize in computer science and especially programming and coding. These new careers are known for making the workers one of the wealthiest people in the world and this can be possible if this course is taken.
      </div>

    </div>

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l8 s20">
                <a class="waves-effect waves-light btn right" href="http://localhost:3000/pages/about">AboutUs page</a>
                <br> </br>
                 <a class="waves-effect waves-light btn right" href="http://localhost:3000/pages/contact">Contactus pg</a>
              </div>
            
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
